@charset "utf-8";

.invisible {
    height: 0;
    font-size: 1px;
    margin: 0;
    padding: 0;
    line-height: 0;
    clear: both;
}

a {
    text-decoration:none;
}

ul {
	margin:0px;
	padding:0px;
}

img {
	margin:0px;
	padding:0px;
	border:none;
	float:left;
}

/* ========================================== *
/* NAV TOP 1 ELEMENTS */
/* ========================================== */

#nav-top-1 {
    left: 200px; 
    top: 140px; 
    width: 480px;
	vertical-align: top;
	border-bottom: 1px dotted #666;
	padding: 0 0 10px 0;
	position: absolute;	
}

.nav-top-1 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	color: #333;
	text-decoration: none;
}

.nav-top-1 a {
	color: #333;
}

.nav-top-1 a:hover {
	color: #999;
	text-decoration: none;
}

/* ========================================== *
/* NAV TOP 2 ELEMENTS */
/* ========================================== */

#nav-top-2 {
    left: 200px; 
    top: 165px; 
    width: 480px;
	vertical-align: top;
	padding: 4px 0 10px 0;
	position: absolute;	
}

.nav-top-2 {
	font-family: "NoticiaTextItalic", Times, serif;
	font-size: 12px;
	font-style: italic;
	line-height: 18px;
	color: #83C0DE;
	text-decoration: none;
}

.nav-top-2 a {
	color: #d7ffff;
	text-decoration: none;
}

/* ========================================== *
/* CONTENT ELEMENTS */
/* ========================================== */

#content {
	left: 200px;
	top: 210px;
	width: 480px;
	vertical-align: top;
	padding: 0 0 120px 0;
	position: absolute;
}

.content {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	font-style: normal;
	line-height: 18px;
	color: #333;
	text-decoration: none;
}

.content h1 {
	font-size: 10px;
	font-style:italic;
	font-weight:normal;
	color: #fff;
	text-decoration: none;
	background-color: #333;
	position:relative;
	padding:0px 2px 0px 2px;
	margin:4px 0 8px 0;
	display:inline-block;
}

.content a:link {
	color: #000000;
	text-decoration: underline;
}

.content a:visited {
	color: #000000;
	text-decoration: underline;
}

#post {
	width: 480px;
	vertical-align: top;
	padding: 0 0 40px 0;
}

#post-image {
	width: 480px;
	vertical-align: top;
	padding: 0;
}

#post-text {
	width: 480px;
	float:left;
	vertical-align: top;
	padding: 10px 0 20px 0;
}

#copyright {
	width: 480px;
	vertical-align: top;
	padding: 2px 0 0 0;
	margin: 60px 0 0 0;
	border-top: 1px dotted #666;
	float:left;
}

/* ========================================== *
/* PORTFOLIO CONTENTS ELEMENTS */
/* ========================================== */

#portfolio-contents-head {
    position: absolute;
    left: 60px;
    top: 165px;
    width: 120px;
    border-top: 1px dotted #666;
}

#portfolio-contents {
	position: absolute;
	left: 60px;
	top: 210px;
	width: 110px;
	padding-left:4px;
	padding-right:6px;
	padding-top: 4px;
	padding-bottom: 18px;
	background-image:url(../images/stripe-emc-01.png);
}

.portfolio-contents {
	font-family: "Times New Roman", Times, serif;
	font-style:italic;
	font-size: 14px;
	line-height: 14px;
	color: #595959;
	background-color:#ffffff;
	text-decoration: none;
}

.portfolio-contents ul {
    list-style-type: none;
}

.portfolio-contents ul li {
	padding-bottom:10px;
}

.portfolio-contents a {
	color: #595959;
}

.portfolio-contents a:hover {
	color: #000;
	text-decoration: none;
}

/* ========================================== *
/* LOGO ELEMENTS */
/* ========================================== */

#logo {
	position: absolute;
	left: 710px;
	top: 50px;
}

/* ========================================== *
/* ABOUT ELEMENTS */
/* ========================================== */

#about-column1 {
	padding-right:30px;
	width: 310px;
	float:left;
}

#about-column2 {
	padding-right:30px;
	width: 110px;
	float:left;
}

.about ul {
    list-style-type: none;
}

.about ul li {
	padding-bottom:16px;
}

.about ul a {
	color: #595959;
	background-color:#D7FFFF;
	position:relative;
	display:inline-block;
	text-decoration: none;
}

.about ul a:hover {
	color: #000;
	text-decoration: underline;
}

.inbound-marketing-certification-badge img {
	width: 220px;
}