@import url("https://fonts.googleapis.com/css?family=Inconsolata:400,700");
@import url("https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,400i,700,700i");
body, header, footer {
  font-size: 1rem; }

body {
  font-family: "Ubuntu Mono", Courier, monospace, sans-serif;
  font-weight: 400;
  background: #fff;
  color: #000; }
  body.index {
    background: #333;
    color: #fff; }

header {
  padding-top: 1.25em;
  padding-bottom: 0.5em; }
  header .header__logo {
    width: 80px;
    padding-bottom: 1.25em; }
    @media screen and (min-width: 576px) {
      header .header__logo {
        width: 100px; } }
    @media screen and (min-width: 768px) {
      header .header__logo {
        width: 120px; } }

footer {
  margin: 1.25em 0; }

.display {
  border-bottom: solid 1px #bcbcbc;
  margin: 10px 0 30px; }
  @media screen and (min-width: 768px) {
    .display {
      margin: 10px 0 40px; } }
  .display .display__img {
    display: block;
    width: 100%; }
  .display .display__meta {
    margin-top: 10px; }

h1 {
  font-family: "Ubuntu Mono", Courier, monospace, sans-serif;
  font-weight: 400;
  font-size: 2em;
  line-height: 1.3; }
  @media screen and (min-width: 768px) {
    h1 {
      font-size: 3em; } }

p {
  font-family: "Ubuntu Mono", Courier, monospace, sans-serif;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.2; }
  footer > p {
    font-size: 0.875em; }
  .display > p {
    font-size: 1em; }

a {
  opacity: 1.0;
  transition: opacity 0.15s ease; }
  a:hover {
    text-decoration: none;
    opacity: 0.9; }

ul.nav {
  font-family: "Ubuntu Mono", Courier, monospace, sans-serif;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.2; }
  @media screen and (min-width: 768px) {
    ul.nav {
      font-size: 1.125em; } }
  ul.nav-top {
    padding-left: 0; }
    ul.nav-top li {
      display: inline;
      list-style-type: none; }
      ul.nav-top li:last-child {
        padding-right: 0; }
    ul.nav-top li {
      float: left; }
      ul.nav-top li a {
        color: #6653ff;
        text-align: left;
        text-decoration: none;
        padding-right: 1.0em; }
        @media screen and (min-width: 768px) {
          ul.nav-top li a {
            padding-right: 1.25em; } }
      ul.nav-top li.nav-top__icon {
        display: none; }
  @media screen and (max-width: 575px) {
    ul.nav li {
      display: none; }
      ul.nav li.nav-top__icon {
        float: right;
        display: inline-block; }
    ul.nav.nav-top__mobile {
      position: relative; }
      ul.nav.nav-top__mobile li {
        float: none;
        display: inline; }
        ul.nav.nav-top__mobile li a {
          display: block;
          text-align: left; }
        ul.nav.nav-top__mobile li.nav-top__icon {
          position: absolute;
          right: 0;
          top: 0; } }

/* Chrome, Safari, Opera */
@-webkit-keyframes header {
  0% {
    background-color: #6653ff; }
  50% {
    background-color: yellow; }
  100% {
    background-color: #6653ff; } }
/* Standard syntax */
@keyframes header {
  0% {
    background-color: #6653ff; }
  50% {
    background-color: yellow; }
  100% {
    background-color: #6653ff; } }

/*# sourceMappingURL=main.css.map */
