/// Text effects

.text-stretch {
	position: relative;
}

.text-stretch:before {
	content: attr(data-text);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
    overflow: hidden;
    color: red;
    background-color: rgba(0, 0, 0, 0);
    transform: scale(2.5, 1);
}