/// Lightbox

.lightbox {
  @extend %px-base;
  display: flex;
  position: fixed;
  z-index: $z-modal;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: $black;
  overflow: hidden;

  .slide {
    display: none;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;

    &.active {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;
      padding: 20px;
    }

    &__caption {
      display: none;
      padding: pd(xxs);
      text-align: center;
      line-height: 1;
      color: $black;
      background-color: rgba(256, 256, 256, 0.95);
      border-left: 3px solid $primary;
      border-radius: 3px;
      transform-origin: bottom left;
      transform: skewY(-6deg);
      @include breakpoint(md) {
        display: inline-block;
        font-size: $base__font-size * 3.8;
      }
    }
  }

  .btn__lightbox {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgba(256, 256, 256, 0.25);

    &:hover {
      background-color: rgba(256, 256, 256, 0.9);
    }

    .bars {
      display: table-cell;
      vertical-align: middle;

      span {
        display: block;
        height: 2px;
        margin-right: auto;
        margin-left: auto;
        background-color: $primary;
        width: 50%;
      }
    }

    &.close {
      top: 20px;
      right: 20px;

      .bars span {
        &:first-child {
          margin-top: 0;
          @include rotate(-45deg);
        }

        &:last-child {
          margin-top: -2px;
          @include rotate(45deg);
        }
      }
    }

    &.up {
      align-self: flex-start;

      .bars {
        span {
          &:first-child {
            margin-top: 0;
            @include rotate(45deg);
          }

          &:last-child {
            margin-top: 6px;
            @include rotate(-45deg);
            @include breakpoint(sm) {
              margin-top: 8px;
            }
          }
        }
      }
    }

    &.down {
      align-self: flex-end;

      .bars {
        span {
          &:first-child {
            margin-top: 0;
            @include rotate(-45deg);
          }

          &:last-child {
            margin-top: 6px;
            @include rotate(45deg);
            @include breakpoint(sm) {
              margin-top: 8px;
            }
          }
        }
      }
    }
  }

  &__nav {
    position: absolute;
    align-self: center;
  }
}
