/*
 * Lightbox
 */

// // List of photo lightbox images
// $lghtbx-AA__img: (
//     '../../photography/img_0111-folio.jpg'
//     '../../photography/img_0243-folio.jpg'
//     '../../photography/img_0359-folio.jpg'
//     '../../photography/img_0387-folio.jpg'
//     '../../photography/img_4453-folio.jpg'
//     '../../photography/img_4480-folio.jpg'
//     '../../photography/img_3889-folio.jpg'
//     '../../photography/img_3251-folio.jpg'
// );
//
// // Generate background image classes
// @mixin bground-img($list) {
//     @each $item in $list {
//         $i: index($list, $item);
//         &-#{$i} {
//             background-image: url("#{$item}");
//         }
//     }
// }
//
// // Generate lightbox background image classes
// #lightbox {
//     .slide {
//         @include bground-img($lghtbx-AA__img);
//     }
// }

/*
 * Lightbox main styles
 */

.lightbox {
    @extend %px-base;
    display: none;
    position: fixed;
    z-index: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: $black;
    overflow: hidden;

    .slide {
        display: none;
        background-size: cover;
		background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 100vh;
    }

    &__close {
        position: absolute;
        top: 10px;
        right: 20px;
        z-index: 1;
        font-size: $base-font-size * 5;
        color: $white;
        opacity: 1;
        @include transition(opacity, $speed, ease);
        user-select: none;
        -webkit-user-select: none;
        cursor: pointer;

        &:hover {
            opacity: 0.8;
        }
    }

    &__nav {
        position: absolute;
        bottom: 20px;
        right: 20px;
        color: palette(brand);

        .nav__prev,
        .nav__next {
            float: left;
            margin: 0 p(xxs);
            font-size: $base-font-size * 5;
            user-select: none;
            -webkit-user-select: none;
            cursor: pointer;
            opacity: .6;
            @include transition(opacity, $speed, ease);

            &:hover {
                opacity: 1;
            }
        }
    }
    // Slide meta information
    &__meta {
        position: absolute;
        bottom: 20px;
        left: 20px;
    }
}
