/// Logo

svg.logo {
  width: auto;
  cursor: pointer;

  .me__header & {
    height: 100px;

    @include breakpoint(md) {
      height: 140px;
    }
  }

  .me__index .me__header & {
    height: auto;
    max-height: 70vh;
  }
}
