.logo {
	padding: p(xl) 0;
	margin: 0 auto;

	svg {
		display: inline-block;

		path {
			fill: palette(brand, x-light);
			@include transition(fill, $speed, ease);

			&:hover {
				fill: palette(brand, x-dark);
			}
		}
	}

	header > & {
		width: 120px;
		@include breakpoint(md) {
			width: 150px;
		}
	}
}
