/// Logo

svg.logo {
  width: auto;
  cursor: pointer;

  path {
    fill: palette(brand);
    transition: fill $speed ease;

    &:hover {
      fill: palette(brand, dark);
    }
  }

  .me__header .header__logo & {
    height: 100px;

    @include breakpoint(md) {
      height: 140px;
    }
  }

  .me__index .me__header .header__logo & {
    max-width: 100%;
    height: 70vh;
    padding: 0 30px;
  }
}
