/// Navigation

.nav-global {
  @extend %px-base;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  > nav {
    margin: 20px 0;

    a {
      @include set-pointer();
      font-family: $base__font-secondary;
      font-size: $base__font-size * 3.6;
      line-height: $base__line-height * 1.2;
      text-transform: lowercase;
      letter-spacing: 5px;
      color: $black;
      text-decoration: none;

      @include breakpoint(sm) {
        font-size: $base__font-size * 5;
      }

      &:hover {
        text-decoration: none;
        color: palette(brand);
      }
    }
  }
}

.btn__toggle-nav-global {
  width: 40px;
  height: 40px;

  span {
    display: block;
    width: 20px;
    height: 1px;
    margin: 3px auto 0;
    background-color: $white;

    &:first-child {
      margin-top: 0;
    }
  }

  &.open {
    background-color: $dark-slate-grey;
    opacity: 0.4;

    &:hover {
      opacity: 1;
    }
  }

  &.close {
    background-color: $transparent;
    border: 1px solid palette(grey, x-light);

    span {
      background-color: $dark-slate-grey;

      &:first-child {
        @include rotate(45deg);
      }

      &:nth-child(2) {
        margin-top: -1px;
        @include rotate(-45deg);
      }

      &:last-child {
        display: none;
      }
    }
  }
}
