/// Navigation

.nav-global {
  @extend %px-base;

  &__toggle {
    .bars {
      display: table-cell;
      vertical-align: middle;

      span {
        display: block;
        width: 50%;
        height: 2px;
        margin: 3px auto 0;
        background-color: $white;

        &:first-child {
          margin-top: 0;
        }
      }
    }

    &.open {
      width: 40px;
      height: 40px;
      background-color: $dark-slate-grey;
      opacity: 0.4;
      transition: all $speed ease;

      &:hover {
        opacity: 1;
      }

      .index & {
        width: 45px;
        height: 45px;
        background-color: $dark-slate-grey;
        transition: all $speed ease;
        opacity: 1;

        &:hover {
          background-color: palette(brand);
        }
      }
    }

    &.close {
      @include anim__fade-in;
      width: 40px;
      height: 40px;
      background-color: rgba(0, 0, 0, 0);
      opacity: 0;
      transition: all $speed ease;

      &:hover {
        opacity: 1;
      }

      .bars {
        span {
          background-color: $dark-slate-grey;

          &:first-child {
            margin-top: 0;
            @include rotate(45deg);
          }

          &:nth-child(2) {
            margin-top: -2px;
            @include rotate(-45deg);
          }

          &:last-child {
            display: none;
          }
        }
      }
    }
  }

  &__modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: $z-modal;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: $modal-background;
  }

  &__menu {
    @include anim__slide-up-fade-in;
    display: block;
    list-style-type: none;
    overflow: hidden;
    z-index: $z-nav-item;
    margin: 0;
    padding: 0;
    text-align: center;

    li {
      display: block;
      padding: pd(xxs) pd(sm);

      a {
        font-family: $base__font-secondary;
        font-size: $base__font-size * 3.6;
        line-height: $base__line-height * 1.2;
        text-transform: lowercase;
        letter-spacing: 5px;
        color: $black;
        text-decoration: none;
        transition: all $speed ease;

        @include breakpoint(sm) {
          font-size: $base__font-size * 5;
        }

        &:hover {
          text-decoration: none;
          color: palette(brand);
        }
      }
    }
  }
}
