/// Navigation

.nav-global {
  @extend %px-base;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  > nav {
    margin: 20px 0;

    a {
      @include set-pointer();
      font-family: $base__font-secondary;
      font-size: $base__font-size * 3.6;
      line-height: $base__line-height * 1.2;
      text-transform: lowercase;
      letter-spacing: 5px;
      color: $black;
      text-decoration: none;
      transition: all $speed ease;

      @include breakpoint(sm) {
        font-size: $base__font-size * 5;
      }

      &:hover {
        text-decoration: none;
        color: palette(brand);
      }
    }
  }
}

button.btn__nav-global {
  padding: 14px 8px;

  &.close {
    padding: 11px;
  }
}
