/// Scroller

.btn__scroll {
  width: 40px;
  height: 40px;
  background-color: $dark-slate-grey;
  opacity: 0.4;

  &:hover {
    opacity: 1;
  }

  .bars {
    display: table-cell;
    vertical-align: middle;

    span {
      display: block;
      width: 36%;
      height: 2px;
      margin: 0 auto;
      background-color: $white;
      @include rotate(90deg);
    }
  }
}
