@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:100,100i&display=swap");

:root {
	--color-primary: #ff1458;
	--color-secondary: #0000ff;
}

* {
	box-sizing: border-box;
}

html,
body,
#root {
	height: 100vh;
}

html {
	background: var(--color-primary);
}

body {
	padding: 0;
	margin: 0;
	color: #000;
	font-family: "Roboto Mono", sans-serif;
	line-height: 1.45;
}

h1,
ul,
a {
	color: #000;
	font-weight: 100;
	text-align: left;
}

h1 {
	margin: 0 0 0.75em;
	font-size: 2.5rem;
	letter-spacing: -0.025em;
	line-height: 1.25;
	@media (min-width: 30em) {
		font-size: calc(2.5rem + ((1vw - 0.30rem) * 2.5));
		/* Where: * 2.5 = 100 * font size difference / viewport width difference */
	}
	@media (min-width: 80em) {
		font-size: 3.75rem;
	}
}

ul,
a {
	font-size: 1.25rem;
}

a,
button {
	border-width: 0;
}

a {
	line-height: 0;
	text-decoration: none;
	word-wrap: break-word;
}

.me {
	display: grid;
	grid-template-rows: 100px auto 100px;
	grid-template-areas:
			"header"
			"main"
			"footer";
	height: 100%;
	min-height: 100vh;
	overflow: hidden;
}

.me__header {
	grid-area: header;
	display: flex;
}

.me__footer {
	grid-area: footer;
	display: flex;
}

.me__page {
	grid-area: main;
	padding: 0 30px;
}