:root {
  --color-green-100: hsl(138, 62.5%, 96.9%);
  --color-green-200: hsl(139, 55.2%, 94.5%);
  --color-green-300: hsl(140, 48.7%, 91%);
  --color-green-400: hsl(141, 43.7%, 86%);
  --color-green-500: hsl(143, 40.3%, 79%);
  --color-green-600: hsl(146, 38.5%, 69%);
  --color-green-700: hsl(152, 57.5%, 37.6%);
  --color-green-800: hsl(153, 67%, 28.5%);
  --color-green-900: hsl(155, 40%, 14%);
}
