#studio {
  --br: 16px;
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-gap: 32px;
  width: 100%;
  padding: 32px;
}

#studio #globals {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

#studio #globals #master {
  display: block;
  border-top: none;
  background-color: transparent;
}

#studio #globals #master .master__status {
  display: none;
}

#studio #globals #master .master__controls {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  padding: 16px;
}

#studio #globals #master .master__controls #playback-controls {
  height: 56px;
  width: 100%;
  justify-content: space-between;
}

#studio #tracks {
  display: grid;
  grid-row-gap: 32px;
}

#studio #tracks .sequencer .step {
  padding-top: 100%;
}
