/// Base

html {
  @extend %px-root;
  text-size-adjust: 100%;
  box-sizing: border-box;
}

body {
  font-family: $stack-primary;
  font-weight: $font-weight-thin;
  line-height: $base-line-height;
  color: $black;
  background: $white;
}
