// Colors

// Descriptive colors
$white: #fff;
$black: #000;
$grey: #333;
$supernova: #ccff00;
$yellow: #ffff00;
$persimmon: #ff6653;
$green: #53ff66;

// Brand colors
$primary: $supernova;
$dev: $yellow;
$design: $persimmon;
$photo: $green;

// UI colors map
$ui-colors: (
	brand: $primary,
	white: $white,
	dev: $dev,
	design: $design,
	photo: $photo
);

// Color palette modifiers
$palettes: (
	grey: (
		x-light: lighten($grey, 25%),
		light: lighten($grey, 12%),
		base: $grey,
		dark: darken($grey, 8%),
		x-dark: darken($grey, 16%)
	),
	brand: (
		x-light: lighten($primary, 25%),
		light: lighten($primary, 12%),
		base: $primary,
		dark: darken($primary, 8%),
		x-dark: darken($primary, 16%)
	),
	dev: (
		x-light: lighten($dev, 25%),
		light: lighten($dev, 12%),
		base: $dev,
		dark: darken($dev, 8%),
		x-dark: darken($dev, 16%)
	),
	design: (
		x-light: lighten($design, 25%),
		light: lighten($design, 12%),
		base: $design,
		dark: darken($design, 8%),
		x-dark: darken($design, 16%)
	),
	photo: (
		x-light: lighten($photo, 25%),
		light: lighten($photo, 12%),
		base: $photo,
		dark: darken($photo, 8%),
		x-dark: darken($photo, 16%)
	)
);
