@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:100,100i,300,300i");
@import url("https://fonts.googleapis.com/css?family=Shrikhand");

:root {
  --font-primary: "Roboto Mono", sans-serif;
  --font-secondary: "Shrikhand", sans-serif;
}

:root {
  --color-primary: #ff1458;
  --color-secondary: #0000ff;
}

$mobile-landscape: 576px;
$tablet-portrait: 768px;
$tablet-landscape: 992px;
$desktop: 1200px;

$bp-sm: #{$mobile-landscape};
$bp-md: #{$tablet-portrait};
$bp-lg: #{$tablet-landscape};
$bp-xl: #{$desktop};

$breakpoints: (
  sm: $bp-sm,
  md: $bp-md,
  lg: $bp-lg,
  xl: $bp-xl
);

%px-root {
  font-size: 62.5%;
}

$base__font-size: 1rem;
$base__line-height: 1;

%px-base {
  font-size: $base__font-size;
}

$font-weight: (
  thin: 100,
  light: 300,
  normal: 400,
  medium: 500,
  bold: 700
);

$base-margin: 1em;

$margin: (
  xxs: $base-margin / 5,
  xs: $base-margin / 2,
  sm: $base-margin,
  md: $base-margin * 1.5,
  lg: $base-margin * 2,
  xl: $base-margin * 3,
  xxl: $base-margin * 4,
  xxxl: $base-margin * 5
);
// Padding
$base-padding: 1em;
$padding: (
  xxs: $base-padding / 5,
  xs: $base-padding / 2,
  sm: $base-padding,
  md: $base-padding * 1.5,
  lg: $base-padding * 2,
  xl: $base-padding * 3,
  xxl: $base-padding * 4,
  xxxl: $base-padding * 5
);
// Z-Index
$base__z-index: 10;
$z-index: (
  default: 0,
  modal: (
    $base__z-index * 10
  ),
  top: $base__z-index * 100
);
// Z-index
$z-modal: 100;
$z-nav-item: 1000;
// Transitions
$speed: 0.3s;
