/// Typography

a {
  color: palette(grey);
  font-size: $base__font-size * 1.6;
  text-decoration: none;
  letter-spacing: 0.1em;
  &:hover {
    text-decoration: none;
  }
}
// Mark
.mark {
  padding: pd(xxs) 0;
}
