/// Utilities

@mixin breakpoint($breakpoint) {
  $value: map-get($breakpoints, $breakpoint);
  @media screen and (min-width: $value) {
    @content;
  }
}

@mixin rotate($args...) {
  transform: rotate($args);
}

@mixin clearfix() {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

@mixin set-pointer() {
  cursor: pointer;
  user-select: none;
  outline: none;
}
