.me__header {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 30px;
  overflow: hidden;
}

.me__header svg {
  width: auto;
  height: 100%;
  cursor: pointer;
}

.me__header svg path {
  fill: var(--color-primary);
}
