.me__header {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 30px;
  overflow: hidden;
}

.me__header svg {
  width: auto;
  height: 100%;
  cursor: pointer;
}

.me__header button {
  margin-top: 30px;
  background-color: #0000ff;
}

.me__header button span {
  display: block;
  width: 25px;
  height: 2px;
  background-color: white;
  transform: skew(15deg, 15deg);
}

.me__header button span:last-child {
  margin-top: 4px;
}
