.gallery {
	width: 100%;
}

.media {
	width: 100%;
	max-width: 780px;
	margin: 0 auto;
	&__content {
		display: block;
		width: 100%;
		margin-bottom: mg(xxs);
		opacity: 1;
		transition: all 0.3s ease;
		cursor: pointer;
		&:hover {
			opacity: 0.8;
		}
	}
	&__caption {
		font-size: 16px;
		line-height: 2;
		margin: mg(md) 0 mg(sm);
		border-bottom: 1px solid var(--color-mid-grey);
	}
}
