.me {
	display: grid;
	height: 100%;
	min-height: 100vh;
}

.me.index {
	grid-template-areas: "main";
	max-height: 100vh;
}

.me.index .me__main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center ;
	height: 100vh;
}

.me.index svg.logo {
	width: auto;
	height: auto;
	cursor: pointer;
}

.me.content {
	grid-template-rows: 280px auto 140px;
	grid-template-columns: 2fr 3fr;
	grid-template-areas:
        "header main"
        "sidebar main"
		"footer footer";
}

.me__header {
	grid-area: header;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	padding: 24px;
}

.me__header svg.logo {
	width: auto;
	height: auto;
	cursor: pointer;
}

.me__main {
	grid-area: main;
}

.me__footer {
	grid-area: footer;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: var( --spacing-md);
}

.me__sidebar {
	grid-area: sidebar;
	background-color: white;
}

button.global-nav {
	margin-top: 16px;
	background-color: var(--color-secondary);
}

button.global-nav span {
	width: 25px;
	height: 2px;
	background-color: white;
}

button.global-nav.open span {
	transform: skew(15deg, 15deg);
}

button.global-nav.open span:last-child {
	margin-top: 4px;
}

.side-nav {
	display: flex;
	flex-direction: column;
	position: sticky;
	top: 0;
	max-height: 100vh;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: none;
}

.side-nav::-webkit-scrollbar {
	display: none;
	width: 0;
	background: transparent;
}

.side-nav::-webkit-scrollbar-track {
	background: transparent;
}

.side-nav a:not(:last-child) {
	margin-bottom: 0.5ch;
}

.me__post {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

.media .gallery {
	display: flex;
	flex-direction: column;
}

.gallery video {
	width: 100%;
	max-width: 780px;
	margin: 0;
}

.gallery figure {
	width: 100%;
	max-width: 780px;
	margin: 0;
}

.gallery figure img  {
	display: block;
	width: 100%;
	opacity: 1;
	transition: all 0.3s ease;
	/*cursor: pointer;*/
}

/*.gallery figure img:hover  {*/
/*	opacity: 0.8;*/
/*}*/

button.btn-scroll {
	background-color: var(--color-secondary);
}

button.btn-scroll span {
	display: block;
	width: 25px;
	height: 2px;
	background-color: white;
	transform: skew(-15deg, -15deg);
}

button.btn-scroll span:last-child {
	margin-top: 4px;
}
