header {
    @extend %px-root;
    margin-top: 1.25em;
    margin-bottom: 1.25em;

    .logo {
        width: 140px;
        @include bp-rule($desktop, null, 200px, null, null);
    }

    ul {
        @include type-style($stack-one, 1.25em, 1.2, $white);
        @include inline-list;
        padding-left: 0;

        li {
            padding-right: 1.25em;
            text-align: left;
        }
    }
}
