header {
    @extend %px-root;
    margin-top: 1.25em;
    margin-bottom: 1.25em;

    .logo {
        width: 120px;
        @include bp-rule($mobile-landscape, null, 140px, null, null);
        @include bp-rule($tablet-portrait, null, 160px, null, null);
    }

    ul {
        @include type-style(1.25em, 1.2);
        @include inline-list;
        padding-left: 0;

        li {
            padding-right: 1.25em;
            text-align: left;
        }
    }
}
