// Animation

// Color transition
/* Chrome, Safari, Opera */
@-webkit-keyframes header {
    0% {background-color: $brand;}
    50% {background-color: yellow;}
	100% {background-color: $brand;}
}

/* Standard syntax */
@keyframes header {
	0% {background-color: $brand;}
    50% {background-color: yellow;}
	100% {background-color: $brand;}
}
