// Display
.display {
    @extend %px-base;
    @include border(bottom, solid, 1px, $light-grey);
    margin: 10px 0 30px;
    @media #{$md} {
        margin: 10px 0 40px;
    }

    .display__img {
        display: block;
        width: 100%;
    }

    .display__meta {
        margin-top: 10px;
    }
}
