// Display
.display {
    @include border(bottom, solid, 1px, $black);
        margin: 10px 0;

    .display__img {
        width: 100%;
    }

    .display__meta {
        padding-top: 10px 0;
    }
}
