// Display
.display {
    @include border(bottom, solid, 1px, $grey);
        margin: 10px 0 20px;

    .display__img {
        display: block;
        width: 100%;
    }

    .display__meta {
        margin-top: 10px;
    }
}
