// Lightbox
.lightbox {
    @extend %px-base;
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: $black;

    &__close {
        position: absolute;
        top: 10px;
        right: 25px;
        color: $white;
        font-size: 2rem;
        line-height: 100%;
        opacity: 1;
        @include transition(opacity, $speed, ease);
        user-select: none;
        -webkit-user-select: none;

        &:hover {
            opacity: 0.8;
            text-decoration: none;
        }
    }

    &__viewer {
        @include v-center;
        position: relative;
        margin: auto;
        padding: 0;
        width: 90%;
        max-width: 1200px;

        .lightbox__slide {
            display: none;

            img {
                width: 100%;
            }
        }

        &--prev,
        &--next {
            position: absolute;
            bottom: -4%;
            padding: 0.25em 0.75em;
            width: auto;
            background-color: $primary;
            color: $white;
            font-size: 1.25rem;
            line-height: 100%;
            opacity: 0.2;
            @include transition(opacity, $speed, ease);
            user-select: none;
            -webkit-user-select: none;
            cursor: pointer;

            @include mq($bp-sm) {
                font-size: 2rem;
            }

            @include mq($bp-md) {
                font-size: 2.4rem;
            }

            @include mq($bp-lg) {
                font-size: 3rem;
            }

            @include mq($bp-xl) {
                font-size: 4rem;
            }

            &:hover {
                opacity: 0.8;
                text-decoration: none;
            }
        }

        &--prev {
            left: 35%;

            @include mq($bp-sm) {
                left: 38.1%;
            }

            @include mq($bp-md) {
                left: 39%;
            }

            @include mq($bp-lg) {
                left: 39.8%;
            }

            @include mq($bp-xl) {
                left: 38.8%;
            }
        }

        &--next {
            right: 35%;

            @include mq($bp-sm) {
                right: 38.1%;
            }

            @include mq($bp-md) {
                right: 39%;
            }

            @include mq($bp-lg) {
                right: 39.8%;
            }

            @include mq($bp-xl) {
                right: 38.8%;
            }
        }
    }
}
