// Media
.media {
    @extend %px-base;
    @include border(bottom, solid, 1px, $light-grey);
    margin: 0 0 30px;
    @media #{$md} {
        margin: 0 0 40px;
    }

    .media__content {
        display: block;
        width: 100%;
    }

    .media__meta {
        @include text-style(1rem);
        margin-top: 10px;
    }
}
