// Media
.media {
    @extend %px-base;
    margin: 0 0 1.875em;
    @media #{$md} {
        margin: 0 0 2.5em;
    }

    &__content {
        display: block;
        width: 100%;
        margin-bottom: 0.625em;
    }

    &__meta {
        @include text-style(1rem);
        margin-bottom: 0.25em;
        border-bottom: solid 1px $light-grey;
    }
}
