// Navigation
.header__nav {
    @extend %px-base;
    @extend %clearfix;
    width: 100%;
}

.nav-bar {
    display: inline-block;
    list-style-type: none;
    overflow: hidden;
    margin: 0 auto;
    padding: 0;

    li {
        display: none;
        @include breakpoint(sm) {
            display: block;
            float: left;
        }

        &.nav-bar__icon {
            display: block;
            @include breakpoint(sm) {
                display: none;
            }
        }

        a {
            font-size: $base-font-size * 1.6;
            line-height: $base-line-height * 1.2;
            color: $black;
            text-align: center;
            text-decoration: none;
            padding: p(xs) p(md);
            @include transition(color, $speed, ease);
            @include breakpoint(md) {
                font-size: $base-font-size * 1.8;
            }

            &:hover {
                text-decoration: none;
                color: palette(brand);
            }
        }
    }

    &--xs {

        li {
            display: block;
            float: none;
        }
    }
}
