// Top navigation
ul.nav {
    @include font($stack-mono, $normal);
    @include text-style(1em, 1.2);
    @media #{$md} {
        font-size: 1.125em;
    }

    &-top {
        @include inline-list;
        padding-left: 0;

        li {
            float: left;

            a {
                color: $brand;
                text-align: left;
                text-decoration: none;
                padding-right: 1.0em;
                @media #{$md} {
                    padding-right: 1.25em;
                }
            }

            &.nav-top__icon {
                display: none;
            }
        }
    }

    @media #{$xs} {

        li {
            display: none;

            &.nav-top__icon {
                float: right;
                display: inline-block;
            }
        }

        &.nav-top__mobile {
            position: relative;

            li {
                float: none;
                display: inline;

                a {
                    display: block;
                    text-align: left;
                }

                &.nav-top__icon {
                  position: absolute;
                  right: 0;
                  top: 0;
                }
            }
        }
    }
}
