// Global
h1 {
    @include font($stack-mono, $normal);
    @include text-style(2.1em, 1.8);
    @media #{$md} {
        @include text-style(3.2em);
    }

    span {
        background: linear-gradient($brand, $brand) no-repeat;
    	background-size: 100% 10px;
    	background-position: 0 2em;
    }
}

p {
    @include font($stack-mono, $normal);
    @include text-style(1em, 1.2);

    footer > & {
        @include text-style(0.875em);
    }

    .display > & {
        @include text-style(1em);
    }
}

a {
    opacity: 1.0;
    transition: opacity $speed ease;

    &:hover {
        text-decoration: none;
        opacity: 0.9;
    }
}
