// Global
h1 {
    @include font($stack-mono, $normal);
    @include text-style(2.1em, 1.4);
    @media #{$md} {
        @include text-style(3em);
    }
    @media #{$xl} {
        @include text-style(6em);
    }

    span {
        display: inline;
        padding-bottom: 0.25em;
        border-bottom: solid 0.5em $brand;

        @media #{$xl} {
            padding-bottom: 0.5em;
            border-bottom: solid 1.25em $brand;
        }
    }
}

p {
    @include font($stack-mono, $normal);
    @include text-style(1em, 1.2);

    footer > & {
        @include text-style(0.875em);
    }

    .display > & {
        @include text-style(1em);
    }
}

a {
    opacity: 1.0;
    transition: opacity $speed ease;

    &:hover {
        text-decoration: none;
        opacity: 0.9;
    }
}
