// Global
h1 {
    @include font($stack-mono, $normal);
    @include text-style(2.1em, 1.4);
    @media #{$md} {
        @include text-style(3em);
    }

    span {
        display: inline;
        border-bottom: solid 10px $brand;
    }
}

p {
    @include font($stack-mono, $normal);
    @include text-style(1em, 1.2);

    footer > & {
        @include text-style(0.875em);
    }

    .display > & {
        @include text-style(1em);
    }
}

a {
    opacity: 1.0;
    transition: opacity $speed ease;

    &:hover {
        text-decoration: none;
        opacity: 0.9;
    }
}
