@import url("https://fonts.googleapis.com/css?family=Inconsolata:400,700");
@import url("https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,400i,700,700i");
html {
  font-size: 62.5%; }

.menu-nav, .media, .lightbox, .header, .footer {
  font-size: 1rem; }

.footer {
  text-align: center; }

html {
  text-size-adjust: 100%;
  box-sizing: border-box; }

body {
  font-family: "Ubuntu Mono", Courier, monospace, sans-serif;
  font-weight: 400;
  line-height: 1;
  color: #000;
  background: #fff; }
  body.dark {
    background: #333;
    color: #fff; }
  body.feature {
    background-size: 65%;
    background-repeat: repeat;
    color: #fff; }
  body#japan-japan {
    background-image: url("../img/japan-japan.jpg"); }

main {
  padding: 0 0 2em; }

.logo-svg path {
  fill: #ccff00;
  -moz-transition: fill, 0.2s, ease;
  -webkit-transition: fill, 0.2s, ease;
  -o-transition: fill, 0.2s, ease;
  -ms-transition: fill, 0.2s, ease;
  transition: fill, 0.2s, ease; }
  .logo-svg path:hover {
    fill: #8bad00; }

h1 {
  font-size: 4.16rem;
  line-height: 1.3; }
  @media screen and (min-width: 576px) {
    h1 {
      font-size: 5.12rem; } }
  @media screen and (min-width: 768px) {
    h1 {
      font-size: 7.68rem; } }
  @media screen and (min-width: 992px) {
    h1 {
      font-size: 8.32rem; } }
  @media screen and (min-width: 1200px) {
    h1 {
      font-size: 9.6rem; } }

p {
  font-size: 1.6rem;
  line-height: 1.5; }

.mark {
  padding: 0.2em 0; }
  .mark--brand {
    background-color: #ccff00; }
  .mark--white {
    background-color: #fff; }
  .mark--dev {
    background-color: #ffff00; }
  .mark--design {
    background-color: #ff6653; }
  .mark--photo {
    background-color: #53ff66; }

/*
 * Navigation
 */
.menu-nav {
  text-align: center; }

/*
 * Main nav bar styles
 */
.menu-nav__list {
  display: inline-block;
  list-style-type: none;
  overflow: hidden;
  margin: 0;
  padding: 0; }
  .menu-nav__list li {
    display: none; }
    @media screen and (min-width: 768px) {
      .menu-nav__list li {
        display: inline; } }
    .menu-nav__list li.menu-nav__toggle {
      display: inline;
      cursor: pointer; }
      @media screen and (min-width: 768px) {
        .menu-nav__list li.menu-nav__toggle {
          display: none; } }
    .menu-nav__list li a {
      font-size: 1.6rem;
      line-height: 1.8;
      color: #000;
      text-align: center;
      text-decoration: none;
      padding: 0.5em 1em;
      -moz-transition: color, 0.2s, ease;
      -webkit-transition: color, 0.2s, ease;
      -o-transition: color, 0.2s, ease;
      -ms-transition: color, 0.2s, ease;
      transition: color, 0.2s, ease; }
      @media screen and (min-width: 768px) {
        .menu-nav__list li a {
          font-size: 2.2rem; } }
      .menu-nav__list li a:hover {
        text-decoration: none;
        color: #ccff00; }
  .menu-nav__list--xs li {
    display: block; }
    @media screen and (min-width: 768px) {
      .menu-nav__list--xs li {
        display: inline; } }

.logo {
  padding: 3em 0; }
  .logo svg {
    display: block;
    margin: 0 auto; }
    .logo svg path {
      fill: #e6ff80;
      -moz-transition: fill, 0.2s, ease;
      -webkit-transition: fill, 0.2s, ease;
      -o-transition: fill, 0.2s, ease;
      -ms-transition: fill, 0.2s, ease;
      transition: fill, 0.2s, ease; }
      .logo svg path:hover {
        fill: #8bad00; }
  header > .logo {
    width: 120px; }
    @media screen and (min-width: 768px) {
      header > .logo {
        width: 150px; } }

.media {
  margin: 0 0 2em; }
  @media screen and (min-width: 768px) {
    .media {
      margin: 0 0 3em; } }
  .media__content {
    display: block;
    width: 100%;
    margin-bottom: 1.5em;
    opacity: 1;
    -moz-transition: opacity, 0.2s, ease;
    -webkit-transition: opacity, 0.2s, ease;
    -o-transition: opacity, 0.2s, ease;
    -ms-transition: opacity, 0.2s, ease;
    transition: opacity, 0.2s, ease; }
    .media__content:hover {
      opacity: 0.9; }
  .media__meta {
    font-size: 1.6rem;
    line-height: 2;
    margin-bottom: 1em;
    border-bottom: 1px solid #737373; }

/*
 * Lightbox
 */
.lightbox {
  display: none;
  position: fixed;
  z-index: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  overflow: hidden; }
  .lightbox .slide {
    display: none;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh; }
    .lightbox .slide__meta {
      position: absolute;
      bottom: 25px;
      left: 25px;
      padding: 0 0.2em;
      font-size: 2.2rem;
      text-align: left;
      color: #000;
      background-color: #fff; }
      @media screen and (min-width: 576px) {
        .lightbox .slide__meta {
          font-size: 2.5rem; } }
  .lightbox__close {
    position: absolute;
    top: 10px;
    right: 20px;
    z-index: 1;
    font-size: 5rem;
    color: #fff;
    opacity: 1;
    -moz-transition: opacity, 0.2s, ease;
    -webkit-transition: opacity, 0.2s, ease;
    -o-transition: opacity, 0.2s, ease;
    -ms-transition: opacity, 0.2s, ease;
    transition: opacity, 0.2s, ease;
    user-select: none;
    -webkit-user-select: none;
    cursor: pointer; }
    .lightbox__close:hover {
      opacity: 0.8; }
  .lightbox__nav {
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: #ccff00; }
    .lightbox__nav .nav__prev,
    .lightbox__nav .nav__next {
      float: left;
      margin: 0 0.2em;
      font-size: 5rem;
      user-select: none;
      -webkit-user-select: none;
      cursor: pointer;
      opacity: .6;
      -moz-transition: opacity, 0.2s, ease;
      -webkit-transition: opacity, 0.2s, ease;
      -o-transition: opacity, 0.2s, ease;
      -ms-transition: opacity, 0.2s, ease;
      transition: opacity, 0.2s, ease; }
      .lightbox__nav .nav__prev:hover,
      .lightbox__nav .nav__next:hover {
        opacity: 1; }

.header {
  padding: 3em 0 3em; }

.footer {
  margin: 3em 0; }

.home {
  border-radius: 50%;
  margin: 0 auto;
  width: 50%; }
