.panel {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  overflow: hidden;
  background: linear-gradient(210.55deg, #353a40 -3.02%, #121416 93.08%);
  box-shadow: 36px 12px 64px rgba(2, 3, 3, 0.7), -12px -20px 56px rgba(232, 237, 243, 0.05),
    inset -16px -6px 80px rgba(248, 249, 249, 0.03);
}

.panel .panel-header {
  display: flex;
  align-items: center;
  height: 56px;
  padding: 0 16px;
}

.panel .panel-main {
  display: flex;
  flex: 1;
  min-height: 56px;
}
