// Base
html {
    @extend %px-root;

    body {
        @include font($stack-mono, $normal);
        color: $black;
        background: $white;
        padding-top: 1.25em;

        &#index {
            background: $grey;
            color: $white;
        }

        &#contact {
            background-image: url('img/flashing-logo.gif');
            background-size: cover;
        }

        .hlight {
            background-color: $yellow;
            padding: 0.2em 0;
        }

        hr {
            margin: 0.250em 0;
        }
    }
}
