// Base
html {
    @extend %px-root;
    text-size-adjust: 100%;
    box-sizing: border-box;

    body {
        font-family: $stack-mono;
        font-weight: $font-weight-normal;
        line-height: $base-line-height;
        color: $black;
        background: $white;

        &.dark {
            background: $grey;
            color: $white;
        }

        &.feature {
            background-size: 65%;
            background-repeat: repeat;
            color: $white;
        }

        &#japan-japan {
            background-image: url('../img/japan-japan.jpg');
        }

        .logo.svg {
            display: block;

            path {
                fill: palette(brand);
                @include transition(fill, $speed, ease);

                &:hover {
                    fill: palette(brand, x-dark);
                }
            }
        }

        main {
            padding: 0 0 p(lg);
        }
    }
}
