// Base
html {
    @extend %px-root;

    body {
        @include font($stack-mono, $normal);
        color: $black;
        background: $white;
        padding-top: 1.25em;

        &#index {
            background: $grey;
            color: $white;
        }

        &#japan-japan {
            background-image: url('../img/japan-japan.jpg');
            background-size: 65%;
            background-repeat: repeat;
        }

        main {
            padding: 0.875em 0;
        }

        .hlight {
            background-color: $yellow;
            padding: 0.2em 0;
        }

        hr {
            margin: 0.250em 0;
        }
    }
}
