  // Named breakpoints
$mobile-landscape: 576px;
$tablet-portrait: 768px;
$tablet-landscape: 992px;
$desktop: 1200px;

// Breakpoints
$bp-sm: #{$mobile-landscape};
$bp-md: #{$tablet-portrait};
$bp-lg: #{$tablet-landscape};
$bp-xl: #{$desktop};

// Breakpoints map
$breakpoints: (
    sm: $bp-sm,
    md: $bp-md,
    lg: $bp-lg,
    xl: $bp-xl
);

// Asset paths
$path-lbox: 'img';

// Root font size
%px-root {
    font-size: 62.5%;
}

// Base font size and line height
$base-font-size: 1rem;
$base-line-height: 1;

// Local font size
%px-base {
    font-size: $base-font-size;
}

// Webfonts
@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,400i,700,700i');

// Font stacks
$stack-sans: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$stack-mono: 'Ubuntu Mono', Courier, monospace, sans-serif;

// Font weight
$light: 300;
$normal: 400;
$semibold: 500;
$bold: 700;

// Transitions
$speed: 0.3s;
