// Utilities

// Mixins
@mixin font($family, $weight) {
    font-family: $family;
    font-weight: $weight;
}

@mixin text-style($size: null, $l-height: null, $color: null) {
    font-size: $size;
    line-height: $l-height;
    color: $color;
    @content;
}

@mixin mq-block($bp-lower, $bp-upper) {
    @media screen and (min-width: $bp-lower) and (max-width: $bp-upper - 1) {
        @content;
    }
}

@mixin mq($m-query) {
    @media #{$m-query} {
        @content;
    }
}

@mixin map-bgcolor($map) {
    @each $name, $value in $map {
        &--#{$name} {
            background-color: $value;
        }
    }
}

@mixin transition($args...) {
    -moz-transition: $args;
    -o-transition: $args;
    -ms-transition: $args;
    transition: $args;
}

@mixin v-center {
    top: 50%;
    transform: translateY(-50%);
}

// Placeholders
%clearfix {
    content: “”;
    display: table;
    clear: both;
}

%px-root {
    font-size: 100%;
}

%px-base {
    font-size: 1rem;
}

%margin-reset {
    margin: 0;
}
