// Mixins
@mixin font($family, $weight) {
    font-family: $family;
    font-weight: $weight;
}

@mixin text-style($size: null, $l-height: null, $color: null) {
    font-size: $size;
    line-height: $l-height;
    color: $color;
    @content;
}

@mixin mq-block($bp-lower, $bp-upper) {
    @media screen and (min-width: $bp-lower) and (max-width: $bp-upper - 1) {
        @content;
    }
}

@mixin inline-list {
    li {
        display: inline;
        list-style-type: none;
        &:last-child {
            padding-right: 0;
        }
    }
}

@mixin border($position, $style, $width, $color) {
    border-#{$position}: $style $width $color;
}

@mixin animation($name, $duration, $count) {
    -webkit-animation-name: $name; /* Chrome, Safari, Opera */
    -webkit-animation-duration: $duration; /* Chrome, Safari, Opera */
	-webkit-animation-iteration-count: $count; /* Chrome, Safari, Opera */
    animation-name: $name;
    animation-duration: $duration;
    animation-iteration-count: $count;
}

// Placeholders
%clearfix {
    content: “”;
    display: table;
    clear: both;
}

%px-root {
    font-size: 1rem;
}

%margin-reset {
    margin: 0;
}
