// Mixins
@mixin type-style($family, $size, $l-height, $color) {
    font-family: $family;
    font-size: $size;
    line-height: $l-height;
    color: $color;
    @content;
}

@mixin bp-rule($screen, $fnt-size, $width, $padding, $margin) {
    @media screen and (min-width: $screen) {
        font-size: $fnt-size;
        width: $width;
        padding: $padding;
        margin: $margin;
        @content;
    }
}

@mixin bp-except($bp-lower, $bp-upper) {
    @media screen and (min-width: $bp-lower) and (max-width: $bp-upper - 1) {
        @content;
    }
}

@mixin inline-list {
    li {
        display: inline;
        list-style-type: none;
        &:last-child {
            padding-right: 0;
        }
    }
}

@mixin border($position, $style, $width, $color) {
    border-#{$position}: $style $width $color;
}

// Placeholders
%clearfix {
    content: “”;
    display: table;
    clear: both;
}

%px-root {
    font-size: 1rem;
}

%margin-reset {
    margin: 0;
}
