// Descriptive color variables
$white: #fff;
$black: #000;
$grey: #333;
$cyan: #00ffff;

// Font stacks
$stack-sans-serif: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$stack-mono: 'Ubuntu Mono', Courier, monospace;

// Font size
$font-size: 1rem;

// Font weight
$light: 300;
$normal: 400;
$semibold: 500;
$bold: 700;

// Border radius
$br: 10px;

// Asset paths
$path-img: '../img';
