// Breakpoints
$mobile-landscape: 576px;
$tablet-portrait: 768px;
$tablet-landscape: 992px;
$desktop: 1200px;

// Asset paths
$path-img: 'img';
$path-photo: 'photography';

// Descriptive color variables
$white: #fff;
$black: #000;
$light-grey: #bcbcbc;
$grey: #333;
$brand: #6653ff;

// Font stacks
$stack-lead: 'Ubuntu Mono', Courier, monospace, sans-serif;
$stack-sub: 'Helvetica Neue', Helvetica, Arial, sans-serif;

// Font weight
$light: 300;
$normal: 400;
$semibold: 500;
$bold: 700;

// Transitions
$speed: 0.15s;
