/*
 * Lightbox
 */

.lightbox {
	@extend %px-base;
	display: none;
	position: fixed;
	z-index: 0;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: grey;
	overflow: hidden;

	&.active {
		display: block;
	}

	.slide {
		display: none;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		width: 100%;
		height: 100vh;

		&.active {
			display: block;
		}

		// Slide meta
		&__caption {
			position: absolute;
			bottom: 25px;
			left: 25px;
			padding: 0 p(xxs) p(xxs);
			font-size: $base-font-size * 2.2;
			text-align: left;
			color: $black;
			background-color: $white;
			@include breakpoint(sm) {
				font-size: $base-font-size * 2.5;
			}
		}
	}

	.btn-group {
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;

		.btn {
			display: table;
			width: 50px;
			height: 50px;
			background-color: $white;
			opacity: .8;
			cursor: pointer;

			.bars {
				display: table-cell;
				vertical-align: middle;

				span {
					display: block;
					height: 2px;
					margin-right: auto;
					margin-left: auto;
					background-color: $grey;
				}
			}
		}

		&__close {
			top: 20px;
			right: 20px;

			.btn__close
			.bars {

				span {
					width: 50%;

					&:first-child {
						margin-top: 0;
						@include rotate(-45deg);
					}

					&:last-child {
						margin-top: -2px;
						@include rotate(45deg);
					}
				}
			}
		}

		&__nav {
			bottom: 20px;
			right: 20px;

			.btn__nav {
				margin-left: m(sm);

				span {
					width: 30%;
				}
			}

			.btn__nav--prev
			.bars {

				span {

					&:first-child {
						margin-top: 0;
						@include rotate(-45deg);
					}

					&:last-child {
						margin-top: 8px;
						@include rotate(45deg);
					}
				}
			}

			.btn__nav--next
			.bars {

				span {

					&:first-child {
						margin-top: 0;
						@include rotate(45deg);
					}

					&:last-child {
						margin-top: 8px;
						@include rotate(-45deg);
					}
				}
			}
		}
	}
}

// // List of photo lightbox images
// $lghtbx-AA__img: (
//     '../../photography/img_0111-folio.jpg'
//     '../../photography/img_0243-folio.jpg'
//     '../../photography/img_0359-folio.jpg'
//     '../../photography/img_0387-folio.jpg'
//     '../../photography/img_4453-folio.jpg'
//     '../../photography/img_4480-folio.jpg'
//     '../../photography/img_3889-folio.jpg'
//     '../../photography/img_3251-folio.jpg'
// );
//
// // Generate background image classes
// @mixin bground-img($list) {
//     @each $item in $list {
//         $i: index($list, $item);
//         &-#{$i} {
//             background-image: url("#{$item}");
//         }
//     }
// }
//
// // Generate lightbox background image classes
// #lightbox {
//     .slide {
//         @include bground-img($lghtbx-AA__img);
//     }
// }
