.logo {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	padding: p(lg) 0;

	path {
		fill: palette(brand);
		@include transition(fill, $speed, ease);

		&:hover {
			fill: palette(brand, dark);
		}
	}

	header & {

		svg {
			width: 120px;

			@include breakpoint(md) {
				width: 150px;
			}
		}
	}

	.index header & {
		height: 70vh;
		padding: 0 p(xl);
		@include breakpoint(sm) {
			height: 75vh;
		}

		svg {
			width: 100%;
			height: 60vh;
			@include breakpoint(sm) {
				height: 65vh;
			}
		}
	}
}
