/*
 * Scroller
 */

.btn__scroll {
	display: table;
	margin: m(xxxl) auto;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	background-color: $dark-slate-grey;
	opacity: .4;
	@include transition(opacity, $speed, ease);
	cursor: pointer;

	&:hover {
		opacity: 1;
	}

	.bars {
		display: table-cell;
		vertical-align: middle;

		span {
			display: block;
			width: 28%;
			height: 2px;
			background-color: $white;

			&:first-child {
				margin-top: 0;
				margin-left: 18px;
				@include rotate(45deg);
			}

			&:last-child {
				margin-top: -2px;
				margin-left: 11px;
				@include rotate(-45deg);
			}
		}
	}
}
